header{
  width: 100%;
  background-color: var(--purple_900);
  text-align: center;
  color: var(--white);
  nav{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
  }
  section{
    h1{
      font-size: 4.8rem;
    }
    button{
      padding: 1.2rem 3.2rem;
      height: 5.4rem;
    }
  }
}

.cellphone{
  width: 100%;
}

.wave {
  /* position: relative; */
  top: 10rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 10;
  overflow: hidden;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 120px;
}

.wave .shape-fill {
  fill: red;
}

@media (max-width: 767px) {
  .wave svg {
      width: calc(300% + 1.3px);
      height: 120px;
  }
}

