<header class="text-white text-center bg-purple-900 py-8 px-5 rounded-b-[100px] h-[560px]">
  <nav class="flex justify-between mb-14">
    <img src="assets/images/logo-light.svg" alt="Logo Company">
    <a href="#" class="decoration-3 decoration-green-300 underline underline-offset-8">Apply for access</a>
  </nav>
  <section class="flex flex-col justify-center items-center">
    <h1 class="font-bold text-5xl">Data <span class="decoration-3 underline underline-offset-8 decoration-teal-400">tailored</span> to your needs</h1>
    <button class="bg-green-300 py-3 px-8 h-14 font-bold mt-10 mb-16" type="button" aria-label="Learn more">Lean more</button>
    <img class="w-[320px]" src="assets/images/image-hero.webp" alt="">
  </section>
</header>
